

<ul *ngIf="redditList">


  <div *ngFor="let item of redditList"  >
    <li *ngIf="!hasPersist(item?.data?.id)" 
      (click)="onItemClick(item)"
      class="nav-item">
      {{item?.data?.author}}
      {{now - item?.data.created | agoPipe}}

      <br />
      <!-- use grid -->
      <img [src]="item.data.thumbnail"
        [alt]="item.data.title" />
      - {{item?.data?.title}} - chevron
      <br />
      <!-- use grid -->
      <a (click)="onDismiss(item.data.id)"> (x) Dismiss </a>
      - <span class="nothing-rhymes-with-orange">{{item?.data.num_comments }} comments</span>

      <hr />
    </li>
  </div>


</ul>

<a (click)="onDismissAll()"> (x) Dismiss All </a>
<a (click)="onRestoreAll()"> (x) Restore All </a>