#item-list{
    color: white;
    background-color: black;
}

.nothing-rhymes-with-orange { color: orange}

.bluebullets{
    color: blue; 
    font-size: 50px;
}

.bluebullets.visited{
    color: transparent; 
}