<!-- toggled with a stylish(stylus) browser plugin stylesheet -->
<pre class="debug"
  style="display: none">

  <!-- {{ redditList?.data?.children | json }}  -->

</pre>


<ul *ngIf="redditList">
  <li *ngFor="let item of redditList" class="nav-item">
    {{item?.data?.author}}
    {{now - item?.data.created | agoPipe}}

    <br /> 
    <!-- use grid -->
    
    <img [src]="item.data.thumbnail" [alt]="item.data.title" />
      -  {{item?.data?.title}} - chevron

    <br /> 
      <!-- use grid -->
     <a (click)="onDismiss(item.data.id)" > (x) Dismiss </a> 
      - <span class="nothing-rhymes-with-orange">{{item?.data.num_comments }} comments</span>

     <hr />
  </li>  
  
</ul>

<a (click)="onDismissAll()" > (x) Dismiss All </a>
<a (click)="onRestoreAll()" > (x) Restore All </a>