
<div id="item-list">
  <h1 class="text-center">Reddit Posts</h1> 

  <ul class="list-unstyled"
    *ngIf="redditList">

    <div *ngFor="let item of redditList">
      <li *ngIf="!item?.data.hidden"  [@enterAnimation]
        class="nav-item">

        <div class="row cursor-pointer" (click)="onItemClick(item)" >
          <div class="col-md-10">
            <span [ngClass]="{'visited': item?.data?.visited}"
              class="bluebullets">&bull;</span>
            <span class="cursor-pointer"
              >
              {{item?.data?.author}} {{now - item?.data.created | agoPipe}}
            </span>
          </div>
        </div>
        <div class="row align-items-center cursor-pointer" (click)="onItemClick(item)">

          <div class="col-md-5 col-sm-5 col-5">

            <span class="cursor-pointer"
            >
              <img [src]="item.data.thumbnail"
                [alt]="item.data.title" />

            </span>
          </div>

          <div class="col-md-5 col-sm-5 col-5 cursor-pointer" (click)="onItemClick(item)">

            <span class="cursor-pointer"
              (click)="onItemClick(item)">
              {{item?.data?.title}}
            </span>
          </div>
          <div class="col-md-1 col-sm-1 col-1">

            <div class="d-table">
              <span class="d-table-cell align-middle">

                <i class="material-icons">
                  chevron_right
                </i>
              </span>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-5 col-5">
            <a (click)="onDismiss(item)"
              class="cursor-pointer dismiss-click">
              <i class="material-icons nothing-rhymes-with-orange">
                highlight_off
              </i>
              Dismiss Post </a>
          </div>
          <div class="col-md-5 col-5">
              <span class="nothing-rhymes-with-orange d-inline-block pull-right ml-1">{{item?.data.num_comments }}
                comments
              </span>
            </div>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1 bdr-btm mt-2"></div>
        </div>

      </li>
    </div>

  </ul>

  <a (click)="onDismissAll(redditList)"
    class="cursor-pointer nothing-rhymes-with-orange"
    *ngIf="redditList?.length > 0 && hiddenList?.length < 49"> <i class="material-icons nothing-rhymes-with-orange ">
      highlight_off
    </i> Dismiss All </a>
  <a (click)="onRestoreAll()"
    class="cursor-pointer nothing-rhymes-with-orange "
    *ngIf="redditList?.length > 0 && hiddenList?.length > 1"><i class="material-icons nothing-rhymes-with-orange "> highlight_off </i> Restore All </a>

</div>